@import url(./reset.css);

:root{
  --cor-de-fundo: #EBECEE;
}

body{
  background-color: var(--cor-de-fundo);
  width: 100vw;
  height: 150vh;
}

.App{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  min-height: 100vh;
}

.navbar__container{
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 1rem 2rem;
  background: rgb(174, 174, 214);
}

.navbar__button{
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.navbar__container img{
  width: 40px;
}

.carousel__container{
  display: flex;
  margin: 50px 0 0 0;
  width: 400px;
  overflow: hidden;
  
 
}

.carousel__newPaymentWindow{
  display: flex;
  padding: 0 0 0 3px;
  
}

.carousel__paymentWindow{
  max-height: 100px;
  padding: 10px;
}