@import url(./reset.css);

:root{
  --cor-de-fundo: #EBECEE;
}

body{
  background-color: var(--cor-de-fundo);
}

.paymentWindow__button{
  max-width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 12px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.paymentWindow__button:hover{
  border: blue;
}



